.mat-dialog-content {
  width: 600px;
  min-height: 300px;
}

.mat-form-field {
  width: 100%;
}

.formcontainer {
  border-radius: 0.87em;
}

h1{
  font-family: "Raleway", "sans-serif";
}

input{
  font-family: "Ubuntu", "sans-serif";
}

.option:hover {
  background-color: #349fad;
}

button {
 background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
}

button:hover {
  background-color: #8C3C27;
}