.wrapper {
  background-image: url('../../assets/images/nathan-fertig-249917-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  /* overflow: scroll; */
  overflow-x: hidden;
}

h1 {
  margin: auto;
  top: 12vh;
  left: 10vh;
  position: relative;
  font-size: 2em;
}

.message {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
  padding: 15px;
  background-color:  #ECEDF1;
}

.messageContent {
  white-space: pre-wrap;
  padding: 2rem;
}

.mat-form-field {
  width: 100%;
}

.fa-ellipsis-v{
  font-size: 18pt;
  }

.menu {
  float: right;
}

.menubutton {
  font-family: "Raleway", "sans-serif";
}

.menubutton:hover {
  background-color: #349fad;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 10vh;
}

.mat-accordion .mat-expansion:last-child{
  margin-bottom: 100px;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  h1 {
    margin: auto;
    top: 8vh;
    left: 2vh;
    position: relative;
    font-size: 1.5em;
  }
}

/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  h1 {
    margin: auto;
    top: 10vh;
    left: 2vh;
    position: relative;
    font-size: 1.5em;
  }
}

/* Responsive Device Large */
@media screen and (max-width: 425px) {
  h1 {
    margin: auto;
    top: 4vh;
    left: 2vh;
    position: relative;
    font-size: 1em;
  }

  .message {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 2%;
    width: 60%;
    padding: 15px;
    background-color:  #ECEDF1;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  h1 {
    margin: auto;
    top: 4vh;
    left: 2vh;
    position: relative;
    font-size: 1em;
  }

  .message {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 2%;
    width: 60%;
    padding: 15px;
    background-color:  #ECEDF1;
  }
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {

}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {

}