.wrapper {
  background-image: url('../../assets/images/nathan-fertig-249917-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  /* overflow: scroll;
  overflow-x: hidden; */
}