<div class="wrapper">

  <div class="card">
    <mat-card-content>
      <p>Trogons excavate their nests by chewing cavities into very soft dead wood; some species make completely enclosed chambers (accessed by upward-slanting entrance tunnels), while others—like the extravagantly plumed resplendent quetzal—construct more open niches. In most trogon species, both sexes help with nest construction. The process may take several months, and a single pair may start several excavations before finding a tree or stump with wood of the right consistency.
        <br />
      Species which use natural cavities or old woodpecker nests sometimes line the cavity with soft material such as grass, moss, lichen, feathers or fur. Though a number of studies have attempted to determine whether secondary cavity nesters preferentially choose cavities with entrance holes facing certain directions, the results remain inconclusive.
      <br />
      The cup nest is smoothly hemispherical inside, with a deep depression to house the eggs. Most are made of pliable materials—including grasses—though a small number are made of mud or saliva. Many passerines and a few non-passerines, including some hummingbirds and some swifts, build this type of nest.
      <br />
      Small bird species in more than 20 passerine families, and a few non-passerines—including most hummingbirds, kinglets and crests in the genus Regulus, some tyrant flycatchers and several New World warblers—use considerable amounts of spider silk in the construction of their nests.
      <br />
      Many swifts and some hummingbirds
      <br />
      Cup-shaped nest insulation has been found to be related to nest mass,
      <br />
      More recently, nest insulation has been found to be related to the mass of the incubating parent.
      <br />
      The platform nest is a large structure, often many times the size of the (typically large) bird which has built it. Depending on the species, these nests can be on the ground or elevated.
      In the case of raptor nests, or eyries (also spelt aerie), these are often used for many years, with new material added each breeding season. In some cases, the nests grow large enough to cause structural damage to the tree itself, particularly during bad storms where the weight of the nest can cause additional stress on wind-tossed branches.
      <br />
      The pendant nest is an elongated sac woven of pliable materials such as grasses and plant fibers and suspended from a branch. Oropendolas, caciques, orioles, weavers and sunbirds are among the species that weave pendant nests.
      <br />
      Many species of bird conceal their nests to protect them from predators. Some species may choose nest sites that are inaccessible or build the nest so as to deter predators. Bird nests can also act as habitats for other inquiline species which may not affect the bird directly. Birds have also evolved nest sanitation measures to reduce the effects of parasites and pathogens on nestlings.</p>
    </mat-card-content>
  </div>
</div>