<div class="wrapper">
  <div class="card">
    <mat-card-content>
      <p>
        <b>NEST</b> is a full stack application designed collaboratively by
        Ingeborg Slegers, Jessica Brandt, and Robert Baxter. This app includes
        an Angular 7 front end that interfaces with a back end web API designed
        with Node.js, Express, and PostgreSQL. The both github repositories are
        accessible from the github icon on the bottom right of the footer.
      </p>
      <hr />
      <p>Ing's blurb</p>
      <hr />
      <p>Jess's Blurb</p>
      <hr />
      <p>
        Robert Baxter is an empirically trained linguist turned developer on a
        journey exploring the linguistics of artificial languages. He thrives on
        the acquisition and implementation of technology, particularly when
        faced with challenges of logic. Upon completion of his training with
        Eleven Fifty Academy, he plans on continuing to acquire new programming
        languages in a career of full stack application development.
      </p>
      <p>
        Robert's online portfolio can be viewed
        <a href="https://robertpbaxter.github.io/" target="_blank">here</a>.
      </p>
    </mat-card-content>
  </div>
</div>
