.ticket{
    margin: 1%;
    width: 46%;
    padding: 15px;
    float: left;
}

.dropdown {
    width: 130px;
    margin-right: 5px;
}

.buttonupdate {
    margin-right: 5px;
    background-color: #EBE2D9;
}

.deletebutton {
    background-color: rgb(177, 65, 27);
}