.info {
  margin: 2em auto;
  text-align: center;
  display: block;
  padding: 1em;
  border-radius: 0.87em;
  width: 75%;
}

/* mediaquery!!! */
/* Desktop PC & Responsive */
.login {
  width: 30%;
  height: 50vh;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 0.87em;
  font-family: 'Ubuntu', sans-serif;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .login {
    width: 30%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .login {
    width: 30%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .login {
    width: 30%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .login {
    width: 40vh;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .login {
    /* top: 30%; */
    width: 40vh;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }

  .cardstuff{
    top: 100px;
  }
}