.info {
  margin: 2em auto;
  text-align: center;
  display: block;
  padding: 1em;
  border-radius: 0.87em;
  width: 75%;
  font-family: "Raleway", "sans-serif";
  font-size: 12pt;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23pt;
  margin-bottom: -8px;
}

/* mediaquery!!! */
/* Desktop PC & Responsive */
.login {
  width: 30%;
  height: 50vh;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 0.87em;
  font-family: 'Ubuntu', sans-serif;
  
}

.cardstuff {
  top: 125px;
  background-color:#ECEDF1;
  border-radius: 0.87em;
  box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
}

.button {
  background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
  font-size: 12pt;
}

.button:hover {
  background-color: #349fad;
}

.notuser {
  font-family: 'Ubuntu', sans-serif;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .login {
    width: 40%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .login {
    width: 40%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .login {
    width: 30%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .login {
    width: 40vh;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }

  .cardstuff {
    top: 25%;
  }
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .login {
    /* top: 30%; */
    width: 73vw;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 0.87em;
    font-family: 'Ubuntu', sans-serif;
  }

  .cardstuff{
    top: 5%;
  }
}