<div class="formcontainer">
  <h1>Support Form</h1>
  <mat-form-field>
    <mat-select placeholder="What is Your Issue" #issue>
      <mat-option value="99 problems and git is all of them">99 problems and git is all of them</mat-option>
      <mat-option value="Bah-Gok">Bah-Gok</mat-option>
      <mat-option value="We don't care Karren">We don't care Karren</mat-option>
      <mat-option value="WHYYYYYYYYYYYYYYYYYYYYYYYYY?!">WHYYYYYYYYYYYYYYYYYYYYYYYYY?!</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput #content  placeholder="Please Describe">
    <!-- <mat-hint align="end">{{input.value?.length || 0}}/2000</mat-hint> -->
  </mat-form-field>

  <button class="button" mat-raised-button (click)=submitSupport(issue.value,content.value)>Submit</button>
</div>