<div class="formcontainer">
  <h1>Support Form</h1>
  <mat-form-field>
    <mat-select placeholder="What is Your Issue">
      <mat-option value="option">99 problems and git is all of them</mat-option>
      <mat-option value="option">Bah-Gok</mat-option>
      <mat-option value="option">We don't care Karren</mat-option>
      <mat-option value="option">WHYYYYYYYYYYYYYYYYYYYYYYYYY?!</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field hintLabel="Max 2000 characters">
    <input matInput #input maxlength="2000" placeholder="Please Describe">
    <mat-hint align="end">{{input.value?.length || 0}}/2000</mat-hint>
  </mat-form-field>

  <button class="button" mat-raised-button (click)="support()">Submit</button>
</div>