agm-map {
  height: 200px;
  max-width: 600px;
}

.editsingle {
  margin: 10px;
}

.update {
  font-family: "Ubuntu", "sans-serif";
}

.update:hover {
  background-color: #349fad;
}

.cancel:hover {
  background-color: #77726c;
  color: #e8e8e8;
  font-family: "Ubuntu", "sans-serif";
}
