.toolbar {
  font-family: "Ubuntu", sans-serif;
  color: #e8e3e2;
  background-color: #bcbab5;
}
.navlink {
  margin-right: 10px;
  background-color: #5d2914;
  /* border-top: #4d2110 1px solid; */
  border-bottom: #4d2110 2px solid;
  color: #e8e3e2;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.navlink:hover {
  background-color: #8c3c27;
}

.fa-bars {
  color: #8c3c27;
  font-size: 15pt;
}

.menutitle {
  color: black;
  font-size: 15pt;
}

.mat-badge-content {
  overflow: visible;
}

.mat-menu-content {
  overflow: visible !important;
}

.mat-menu-panel {
  overflow: visible !important;
}
