<<<<<<< HEAD
.toolbar{
    color:rgb(253, 246, 246);
}
.navlink {
    margin-right: 10px;
    background-color: rgb(51, 51, 82);
    color:rgb(253, 246, 246);
}

.numbers{
    width: 100px;
}

.example-icon {
  padding: 0 14px;
}

=======
.toolbar {
  color: rgb(253, 246, 246);
}
.navlink {
  margin-right: 10px;
  background-color: rgb(51, 51, 82);
  color: rgb(253, 246, 246);
}
.example-icon {
  padding: 0 14px;
}
>>>>>>> c593206bd4cf88ad9d18abf30a9fc0d39775b870
.example-spacer {
  flex: 1 1 auto;
}

.fa-bars {
<<<<<<< HEAD
    color: black;
    font-size: 15pt
}

.menutitle {
    color: black;
}
=======
  color: black;
  font-size: 15pt;
}

.menutitle {
  color: black;
}

.mat-badge-content {
  overflow: visible;
}
>>>>>>> c593206bd4cf88ad9d18abf30a9fc0d39775b870
