<div class="newentry">
  <mat-form-field>
    <mat-select placeholder="type of housing" #residenceType>
      <mat-option value="House">House</mat-option>
      <mat-option value="Apartment">Apartment</mat-option>
      <mat-option value="Condo">Condo</mat-option>
      <mat-option value="Townouse">Townouse</mat-option>
      <mat-option value="Duplex/Triplex">Duplex/Triplex</mat-option>
      <mat-option value="Detached House">Detached House</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="number of rooms for rent" #rooms>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10+">10+</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="number of bathrooms" #bathrooms>
      <mat-option value="1">1</mat-option>
      <mat-option value="1.5">1.5</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="2.5">2.5</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="3.5">3.5</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="4.5">4.5</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="5.5">5.5</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" #address>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="pets allowed" #petsAllowed>
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
    <!-- <input matInput placeholder="if yes what kind"> -->
  </mat-form-field>

  <mat-form-field class="facilities">
    <textarea #facilities matInput placeholder="please list facilities"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input #price matInput placeholder="rent amount per month" type="number" class="example-right-align">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <button class="button" mat-raised-button (click)=submitListing(residenceType.value,rooms.value,bathrooms.value,address.value,petsAllowed.value,facilities.value,price.value)>Submit</button>

</div>
<app-map-entry></app-map-entry>