<h1 mat-dialog-title>Send Message</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput #subject placeholder="enter subject" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea rows="6" matInput #content placeholder="enter your message"></textarea>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button (click)="sendMessage(subject.value,content.value)">Send</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>