<div class="wrapper">
  <div class="textbox">
    <p>We are sorry for any inconveniences you are experiencing. Please fill out the form so the problem can get solved as soon as possible. Thank you</p>
  </div>
  <div class="formcontainer">
    <p>Support Form</p>
    <mat-form-field>
      <mat-select class="input" placeholder="What is Your Issue" #issue>
        <mat-option class="select" value="Adding a new housing listing">Adding a new housing listing</mat-option>
        <mat-option class="select" value="Updating or editing a current listing">Updating or editing a current listing</mat-option>
        <mat-option class="select" value="Update account information">Update account information</mat-option>
        <mat-option class="select" value="Inbox or messaging issues">Inbox or messaging issues</mat-option>
        <mat-option class="select" value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <textarea class="input" matInput #content placeholder="Please Describe"></textarea>
    </mat-form-field>
    
    <button class="button" mat-raised-button (click)=submitSupport(issue.value,content.value)>Submit</button>
  </div>
</div>