<h1>Settings</h1>
<form>
  <div class="form-group">
    <label for="firstName">
      First Name:
      <input type="text" #firstName name="firstName" [(ngModel)]="user.firstName" />
    </label>
    <label for="lastName">
      Last Name:
      <input type="text" #lastName name="lastName" [(ngModel)]="user.lastName" />
    </label>
    <label for='email'>
      Email:
      <input type="text" #email name="email" [(ngModel)]="user.email" />
    </label>
  </div>
  <button type="submit" (click)=updateUser(firstName.value,lastName.value,email.value)>Update</button>
</form>
<button mat-raised-button (click)="confirmDelete()">Delete account</button>