/* Desktop PC & Responsive */
.user {
  width: 60vh;
  height: 80vh;
  /* font-family: "Ubuntu", "sans-serif"; */
  background-color: #E8E8E8;
  margin: auto;
  text-align: center;
  top: 50vh;
  border-radius: 0.87em;
}

.userinfo {
  margin: 3vh auto;
  width: 30vh;
  height: 4vh;
  text-align: center;
  border-radius: 0.87em;
  font-size: 1em;
  font-weight: lighter;
}

.form-group{
  font-family: "Raleway", "sans-serif"
}

.update {
  background-color: #77726C;
  color: #E8E8E8;
}

.update:hover {
  background-color: #E8E8E8;
  color: #77726C;
}

.delete {
  background-color: #77726C;
  color: #E8E8E8;
}

.delete:hover {
  background-color: #8C3C27;
  color: black;
}

h1{
  padding: 4vh;
  font-family: "Raleway", "sans-serif"
}

button{
  display: inline-block;
  text-align: center;
  margin: 5vh 2vh;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .user {
    width: 60vh;
    height: 80vh;
    /* font-family: "Ubuntu", "sans-serif"; */
    background-color: #E8E8E8;
    margin: auto;
    text-align: center;
    top: 50vh;
    border-radius: 0.87em;
  }
  
  .userinfo {
    margin: 3vh auto;
    width: 30vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.87em;
    font-size: 1em;
    font-weight: lighter;
  }
  
  .form-group{
    font-family: "Raleway", "sans-serif"
  }
  
  .update {
    background-color: #77726C;
    color: #E8E8E8;
  }
  
  .update:hover {
    background-color: #E8E8E8;
    color: #77726C;
  }
  
  .delete {
    background-color: #8C3C27;
    color: #E8E8E8;
  }
  
  .delete:hover {
    background-color: #8C3C27;
    color: black;
  }
  
  h1{
    padding: 4vh;
    font-family: "Raleway", "sans-serif"
  }
  
  button{
    display: inline-block;
    text-align: center;
    margin: 5vh 2vh;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .user {
    width: 50vh;
    height: 80vh;
    /* font-family: "Ubuntu", "sans-serif"; */
    background-color: #E8E8E8;
    margin: auto;
    text-align: center;
    top: 50vh;
    border-radius: 0.87em;
  }
  
  .userinfo {
    margin: 3vh auto;
    width: 30vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.87em;
    font-size: 1em;
    font-weight: lighter;
  }
  
  .form-group{
    font-family: "Raleway", "sans-serif"
  }
  
  .update {
    background-color: #77726C;
    color: #E8E8E8;
  }
  
  .update:hover {
    background-color: #E8E8E8;
    color: #77726C;
  }
  
  .delete {
    background-color: #8C3C27;
    color: #E8E8E8;
  }
  
  .delete:hover {
    background-color: #8C3C27;
    color: black;
  }
  
  h1{
    padding: 4vh;
    font-family: "Raleway", "sans-serif"
  }
  
  button{
    display: inline-block;
    text-align: center;
    margin: 5vh 2vh;
  }
  
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .user {
    max-width: 45vh;
    height: 80vh;
    /* font-family: "Ubuntu", "sans-serif"; */
    background-color: #E8E8E8;
    margin: auto;
    text-align: center;
    top: 50vh;
    border-radius: 0.87em;
  }
  
  .userinfo {
    margin: 3vh auto;
    width: 30vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.87em;
    font-size: 1em;
    font-weight: lighter;
  }
  
  .form-group{
    font-family: "Raleway", "sans-serif"
  }
  
  .update {
    background-color: #77726C;
    color: #E8E8E8;
  }
  
  .update:hover {
    background-color: #E8E8E8;
    color: #77726C;
  }
  
  .delete {
    background-color: #8C3C27;
    color: #E8E8E8;
  }
  
  .delete:hover {
    background-color: #8C3C27;
    color: black;
  }
  
  h1{
    padding: 4vh;
    font-family: "Raleway", "sans-serif"
  }
  
  button{
    display: inline-block;
    text-align: center;
    margin: 5vh 2vh;
    height: 5vh;
  }
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .user {
    width: 50vh;
    height: 80vh;
    /* font-family: "Ubuntu", "sans-serif"; */
    background-color: #E8E8E8;
    margin: auto;
    text-align: center;
    top: 50vh;
    border-radius: 0.87em;
  }
  
  .userinfo {
    margin: 3vh auto;
    width: 30vh;
    height: 4vh;
    text-align: center;
    border-radius: 0.87em;
    font-size: 1em;
    font-weight: lighter;
  }
  
  .form-group{
    font-family: "Raleway", "sans-serif"
  }
  
  .update {
    background-color: #77726C;
    color: #E8E8E8;
  }
  
  .update:hover {
    background-color: #E8E8E8;
    color: #77726C;
  }
  
  .delete {
    background-color: #8C3C27;
    color: #E8E8E8;
  }
  
  .delete:hover {
    background-color: #8C3C27;
    color: black;
  }
  
  h1{
    padding: 4vh;
    font-family: "Raleway", "sans-serif"
  }
  
  button{
    display: inline-block;
    text-align: center;
    margin: 5vh 0.4vh;
    height: 6vh;
  }
}