.newentry {
  display: flex;
  flex-direction: column;
}

.newentry > * {
  width: 50%;
}

agm-map {
  height: 100vh;
}

.info {
  font-size: 12pt;
  margin-left: 1%;
  font-family: "Ubuntu", "sans-serif";
}

.housingcard {
  width: 100vh;
  margin: 2%;
  top: 60vh;
}

.information {
  padding: 5px;
}

.newlisting {
  margin: 2%;
  width: 100vh;
  top: 60vh
}

.button {
  margin: 5vh 40vh;
  font-family: "Ubuntu", "sans-serif";
}

.button:hover{
  background-color: #A14426;
  color: #e8e8e8;
}

.newhousing {
  margin: auto;
  top: 60vh;
  width: 100vh;
}