<div class="left">
  <mat-accordion>
    <mat-expansion-panel class="newlisting" style="margin-top: 7vh" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create New Listing
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="infomation">
        <mat-select placeholder="type of housing" #residenceType>
          <mat-option value="House">House</mat-option>
          <mat-option value="Apartment">Apartment</mat-option>
          <mat-option value="Condo">Condo</mat-option>
          <mat-option value="Townhouse">Townhouse</mat-option>
          <mat-option value="Duplex/Triplex">Duplex/Triplex</mat-option>
          <mat-option value="Detached House">Detached House</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <mat-select placeholder="number of rooms for rent" #rooms>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10+">10+</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <mat-select placeholder="number of bathrooms" #bathrooms>
          <mat-option value="1">1</mat-option>
          <mat-option value="1.5">1.5</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="2.5">2.5</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="3.5">3.5</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="4.5">4.5</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="5.5">5.5</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <input matInput placeholder="city or neighborhood" #address>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <mat-select placeholder="pets allowed" #petsAllowed>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <textarea #facilities matInput placeholder="please list facilities"></textarea>
      </mat-form-field>
      <br />
      <mat-form-field class="infomation">
        <input #price matInput placeholder="rent amount per month" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      
      <agm-map [latitude]="startingLat" [longitude]="startingLng" (mapClick)="onPickedLocation($event)">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      
      <button class="button" mat-raised-button color="primary" fxLayout="center center" (click)=submitHousing(residenceType.value,rooms.value,bathrooms.value,address.value,petsAllowed.value,facilities.value,price.value)>Submit</button>
      
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="right">
  <div *ngFor="let housing of housing">
    <mat-card class="housingcard">
      <mat-card-header>
        <mat-card-title>
          Listing {{housing.id}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><i class="fas fa-home"></i> <span class="info">{{housing.residenceType}}</span> </p>
        <br />
        <p># of rooms: <span class="info">{{housing.rooms}}</span></p>
        <br />
        <p># of bathrooms: <span class="info">{{housing.bathrooms}}</span></p>
        <br />
        <p>city / neigborhood: <span class="info">{{housing.address}}</span></p>
        <br />
        <p>pets allowed: <span class="info">{{housing.petsAllowed}}</span></p>
        <br />
        <p>facilities: <span class="info">{{housing.facilities}}</span></p>
        <br />
        <p>price: <span class="info">${{housing.price}}</span></p>
        <br />
        <p>id: <span class="info">{{housing.id}}</span></p>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button (click)="openDialog(housing)">Update</button>
        <button (click)="deleteHousing(housing)" title="delete ticket" value="housing.id" mat-raised-button>Delete</button>
      </mat-card-actions>
      
    </mat-card>
  </div>
</div>