/* Desktop PC & Responsive */
.wrapper {
  background-image: url('../../assets/images/nathan-fertig-249917-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}
.newentry {
  display: flex;
  flex-direction: column;
}

.newentry > * {
  width: 50%;
}

.new {
  height: 30vh;
  /* width: 40vh; */
  margin: 0 10vh;
}

.minimap {
  height: 20vh;
  width: 24.5vw;
}

.info {
  font-size: 12pt;
  margin-left: 1%;
  font-family: "Ubuntu", "sans-serif";
}

p{
  font-size: 2vh;
}

.housingcard {
  width: 45vh;
  margin: 7vh 3.5vh 9vh 8vh;
  float: left;
  display: block;
  background-color: #ECEDF1;
  border-radius: 0.87em;
}

.information {
  padding: 5px;
}

.newlisting {
  margin: 6vh;
  width: 47vh;
  float: left;
  top: 4vh;
  height: 100%;
  background-color: #ECEDF1;
  border-radius: 0.87em;
}

.button {
  margin: 5vh;
  background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
}

.button:hover{
  background-color: #349fad;
}

.buttons {
  text-align: center;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  float: left;
}

.delete {
  background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
}

.delete:hover {
  background-color: #8C3C27;
  color: black;
}

.update {
  background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
}

.update:hover {
  background-color: #349fad;
}


@media screen and (max-width: 1283px) { 
  .housingcard {
    width: 45vh;
    margin: 7vh 3.5vh 7vh 8vh;
    float: left;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  

}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1025px) {
  .newentry {
    display: flex;
    flex-direction: column;
  }
  
  .newentry > * {
    width: 50%;
  }
  
  agm-map {
    height: 30vh;
    max-width: 90%;
    margin: 0 10vh;
  }
  
  .info {
    font-size: 2vh;
    margin-left: 1%;
    font-family: "Ubuntu", "sans-serif";
  }

  p{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .housingcard {
    max-width: 100%;
    margin: 3vh;
    margin-bottom: 6.4vh;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .information {
    padding: 5px;
  }
  
  .newlisting {
    margin: 3vh;
    max-width: 90vh;
    top: 2vh;
    height: 100%;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .button {
    margin: 5vh 14vh;
    /* margin-left: 10vh; */
    font-family: "Ubuntu", "sans-serif";
    text-align: center;
    background-color: #77726C;
    color: #e8e8e8;
  }
  
  .button:hover{
    background-color: #349fad;
  }

  .buttons {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
    float: left;
  }

  .delete {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .delete:hover {
    background-color: #8C3C27;
    color: black;
  }
  
  .update {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .update:hover {
    background-color: #349fad;
  }

}

/* Ipad COMPLETE */
@media screen and (max-width: 768px) {
  .newentry {
    display: flex;
    flex-direction: column;
  }
  
  .newentry > * {
    width: 50%;
  }
  
  agm-map {
    height: 30vh;
    max-width: 90%;
    margin: 0 10vh;
  }
  
  .info {
    font-size: 2vh;
    margin-left: 1%;
    font-family: "Ubuntu", "sans-serif";
  }

  p{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .housingcard {
    max-width: 100%;
    margin: 3vh;
    margin-bottom: 7vh;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .information {
    padding: 5px;
  }
  
  .newlisting {
    margin: 3vh;
    max-width: 90vh;
    top: 2vh;
    height: 100%;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .button {
    margin: 5vh 14vh;
    /* margin-left: 10vh; */
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .button:hover{
    background-color: #349fad;
  }

  .buttons {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
    float: left;
  }

  .delete {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }

  .update {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .update:hover {
    background-color: #349fad;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 415px) {
  .newentry {
    display: flex;
    flex-direction: column;
  }
  
  .newentry > * {
    width: 50%;
  }
  
  agm-map {
    height: 30vh;
    /* max-width: 42vh; */
    margin: 0 10vh;
  }
  
  .info {
    font-size: 2vh;
    margin-left: 1%;
    font-family: "Ubuntu", "sans-serif";
  }

  p{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .housingcard {
    max-width: 45vh;
    margin: 2.5vh;
    margin-bottom: 9vh;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .information {
    padding: 5px;
  }
  
  .newlisting {
    margin: 2.2vh;
    max-width: 45vh;
    top: 2vh;
    height: 100%;
    background-color: #ECEDF1;
    border-radius: 0.87em;
    margin-bottom: 7vh;
  }
  
  .button {
    margin: 5vh 14vh;
    /* margin-left: 10vh; */
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .button:hover{
    background-color: #349fad;
  }

  .buttons {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
    float: left;
  }

  .delete {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }

  .update {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .update:hover {
    background-color: #349fad;
  }
}

/* Pixel 2 & Pixel 2 XL COMPLETE */
@media screen and (max-width: 412px) {
  .newentry {
    display: flex;
    flex-direction: column;
  }
  
  .newentry > * {
    width: 50%;
  }
  
  agm-map {
    height: 30vh;
    /* max-width: 90%; */
    margin: 0 10vh;
  }
  
  .info {
    font-size: 2vh;
    margin-left: 1%;
    font-family: "Ubuntu", "sans-serif";
  }

  p{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .housingcard {
    max-width: 35vh;
    margin: 2.5vh;
    margin-bottom: 9vh;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .information {
    padding: 5px;
  }
  
  .newlisting {
    margin: 2.2vh;
    max-width: 40vh;
    top: 2vh;
    height: 100%;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .button {
    margin: 5vh 14vh;
    /* margin-left: 10vh; */
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .button:hover{
    background-color: #349fad;
  }

  .buttons {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
    float: left;
  }

  .delete {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }

  .update {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .update:hover {
    background-color: #349fad;
  }
}

/* iPhone 5/SE/6/7/8 & iPhone X & Galaxy S5 */
@media screen and (max-width: 375px) {
  .newentry {
    display: flex;
    flex-direction: column;
  }
  
  .newentry > * {
    width: 50%;
  }
  
  agm-map {
    height: 30vh;
    max-width: 90%;
    margin: 0 10vh;
  }
  
  .info {
    font-size: 2vh;
    margin-left: 1%;
    font-family: "Ubuntu", "sans-serif";
  }

  p{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .housingcard {
    max-width: 100%;
    margin: 3vh;
    margin-bottom: 10vh;
    display: block;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .information {
    padding: 5px;
  }
  
  .newlisting {
    margin: 2.2vh;
    max-width: 40vh;
    top: 2vh;
    height: 100%;
    background-color: #ECEDF1;
    border-radius: 0.87em;
  }
  
  .button {
    margin: 5vh 14vh;
    /* margin-left: 10vh; */
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }
  
  .button:hover{
    background-color: #349fad;
  }

  .buttons {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
    float: left;
  }

  .delete {
    background-color:  #182A2B;
    color: white;
    font-family: "Raleway", "sans-serif";
  }

  .update {
    background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
  }
  
  .update:hover {
    background-color: #349fad;
  }
}