/* .wrapper { */
.wrapper {  
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('../../assets/images/nathan-fertig-249917-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23pt;
}

.signup {
  width: 30%;
  height: 73vh;
  margin: auto;
  text-align: center;
  display: block;
  top: 11vh;
  background-color:#ECEDF1;
  border-radius: 0.87em;
  box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
  font-family: 'Ubuntu', sans-serif;
}

.info {
  margin: 2em auto;
  text-align: center;
  display: block;
  padding: 1em;
  border-radius: 0.87em;
  font-family: "Raleway", "sans-serif";
  font-size: 12pt;
  width: 75%;
}

.button {
  background-color:  #182A2B;
  color: white;
  font-family: "Raleway", "sans-serif";
  font-size: 12pt;
}

.button:hover {
  background-color: #349fad;

}

@media screen and (max-width: 1281px) {
  .signup {
    width: 30%;
    height: 60vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 15vh;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: 1em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: 1em;
    width: 75%;
  }
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .signup {
    width: 40%;
    height: 45vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 125px;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

}

@media screen and (max-width: 1022px) {
  .signup {
    width: 40%;
    height: 73vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 125px;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }
}

@media screen and (max-width: 769px) {
  .signup {
    width: 40%;
    height: 64vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 125px;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }
}


/* Iphone 6/7/8 Plus COMPLETE */
 @media screen and (max-width: 414px) {
  .signup {
    width: 75vw;
    height: 78vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 10vh;
    bottom: 15vh;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3em;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: 1em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: 1em;
  }
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .signup {
    width: 68%;
    height: 68vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 70px;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: .6em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: 1em;
  }
}

@media screen and (max-width: 376px) {
  .signup {
    width: 68%;
    height: 64vh;
    margin: auto;
    text-align: center;
    display: block;
    top: 13vh;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  
  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: .5em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: .9em;
  }
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 360px) { 
  .signup {
    width: 65vw;
    height: 72vh;
    margin: auto;
    top: 12vh;
    text-align: center;
    display: block;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: .8em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: 9pt;
  }
}

@media screen and (max-width: 320px) {
  .signup {
    width: 55vw;
    height: 72vh;
    margin: auto;
    top: 12vh;
    text-align: center;
    display: block;
    background-color:#ECEDF1;
    border-radius: 0.87em;
    box-shadow: 6px 6px rgba(7, 6, 6, 0.486);
    font-family: 'Ubuntu', sans-serif;
  }

  .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
  }

  .info {
    margin: 2em auto;
    text-align: center;
    display: block;
    padding: .5em;
    border-radius: 0.87em;
    font-family: "Raleway", "sans-serif";
    font-size: .8em;
  }
}

