<div class="wrapper">
  <mat-card class="signup" fxLayoutAlign="center center">
    <mat-card-title class="title">Sign up</mat-card-title>
    <mat-card-content class="content">
      <form>
        <div class="form-group" fxLayoutAlign="center center">
          <label for="firstName">
            <input type="text" #firstName class="info" placeholder="FIRST NAME"/>
          </label>
          <label for="lastName">
            <input type="text" #lastName class="info" placeholder="LAST NAME" />
          </label>
          <label for='email'>
            <input type="text" #email class="info" placeholder="EMAIL" />
          </label>
          <label for='password'>
            <input type="password" #password class="info" placeholder="PASSWORD" />
          </label>
          <label for='confirmPassword'>
            <input type="password" #confirmPassword class="info" placeholder="CONFIRM PASSWORD" />
          </label>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" (click)=validateSignup(firstName.value,lastName.value,email.value,password.value,confirmPassword.value)>Create
        account</button>
    </mat-card-actions>
    <span>Already a user? <a routerLink='/auth'>Log in</a></span>
  </mat-card>
</div>
