/* You can add global styles to this file, and also import other style files */

html {
  background-color: #8c3c27bf;
  /* background-image: url('../src/assets/images/vectorstock_7742830.jpg') */
  /* font-family: '!Ubuntu', sans-serif; */
}

.mat-menu-panel {
  overflow: visible;
}

.mat-menu-content:not(:empty){
  padding-top: 0px !important;
  padding-bottom: 0px  !important;
  width: 250px;
}

/* .mat-accordian>.mat-expansion-panel-spacing:first-child {
  margin-top: 100px;
} */
/* 
.mat-expansion-panel {
  margin-top: 100px;
} */