/* You can add global styles to this file, and also import other style files */

ml {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.outletwrapper{
  margin-left: auto;
  margin-right: auto;
}

.mat-menu-panel {
  overflow: visible;
}

.mat-menu-content:not(:empty){
  padding-top: 0px !important;
  padding-bottom: 0px  !important;
  width: 250px;
}

.menu{
  overflow: visible !important;
}

.brand {
  position: absolute;
  right: 0 !important;
  height: 10vh;
  margin-right: 3vh;
}
