table {
  width: 80vw;
  margin: 10%;
  font-family: 'Ubuntu', sans-serif;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .table {
    width: 95vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70%;
  }

}

@media screen and (max-width: 415px) { 
  .table {
    width: 85vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40%;
    margin-left: -5.5%;
  }

}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  table {
    width: 80vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70%;
    margin-left: 9%;
  }

}

@media screen and (max-width: 375px) {
  .table {
    width: 85vw;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -3%;
    font-size: 90.5%;
    }

    td {
      font-size: 100%;
    }
  
    th {
      font-size: 100%;
    }
}

@media screen and (max-width: 360px) {
  .table {
    width: 85vw;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -4%;
    font-size: 90%;
    }

    td {
      font-size: 100%;
    }
  
    th {
      font-size: 100%;
    }
}


/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 320px) {
  .table {
    width: 85vw;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -2.7%;
    font-size: 70%;
    }

  td {
    font-size: 100%;
  }

  th {
    font-size: 100%;
  }
}

