<app-map></app-map>
<div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="residenceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="fas fa-home"></i></th>
      <td mat-cell *matCellDef="let housing"> {{housing?.residenceType}} </td>
    </ng-container>

    <ng-container matColumnDef="rooms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="fas fa-hashtag"></i> of rooms </th>
      <td mat-cell *matCellDef="let housing"> {{housing?.rooms}} </td>
    </ng-container>

    <ng-container matColumnDef="city / neigborhood">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>city / neigborhood</th>
      <td mat-cell *matCellDef="let housing"> {{housing?.address}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="fas fa-dollar-sign"></i> per month</th>
      <td mat-cell *matCellDef="let housing">${{housing?.price}} </td>
    </ng-container>

    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef>details</th>
      <td mat-cell *matCellDef="let housing"><a routerLink="/detail/{{housing?.id}}">view</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>